<main ng-hide="(main.images.length > 0)">

  <!-- hide this stuff if there are images in the images array -->
  
  <h1>Please upload the following</h1>
  <p ng-if="main.errorMessage" class="popup">{{main.errorMessage}}</p>
  <form ng-submit="main.uploadMulti()">
    <div class="row">
      <div ng-repeat="question in main.questions" ng-if="!question.file">
      <div class="ten columns question"><p>{{question.text}}</p>
      </div>
        <label class="two columns choose">
        <input type="file" ngf-select ng-model="question.file" value="Select File">Choose</label>
      </div>
    </div>
    <label class="btn_image">
      <input type="submit" >
    </label>
  </form>
</main>

  <!-- show this stuff if there are images in the images array -->

  <main >
    <div class="grid" ng-show="(main.images.length > 0)">
      <!-- this will show each image in the images array using ng-repeat -->
      <div class="grid-item" ng-repeat="image in main.images">
        <img ng-src="{{image}}" class="img-big opacity size zoom image img-zoom">
      </div>
    </div>

   
      <div class="next">Share</div>
    
  </main>

<!-- </main> -->
 
